h1 
{
    margin: 50px;
    text-align: center;
    color: blueviolet;
}

form
{
    border: solid 2px gray;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    margin: auto;
}

button
{
    background-color: rgb(221, 184, 255);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}

button:hover
{
    background-color: rgb(203, 147, 255);
    cursor: pointer;
}

input
{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 155px;
}

ul 
{
    text-align: left; 
    margin-top: 30px;
    padding-left: 500px;
}

li 
{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(67, 0, 129);
}

.list
{
    text-align: center;
}

